node_modules/
**/node_modules/
.env
**/.env
*.log
.DS_Store
dist/
build/
.cache/
server/uploads/*
!server/uploads/.gitkeep
issues.md
server/data/
RAG_INFERENCE_EXPERIMENTS.md
team-wiki-pages
server/.mongodb/



# Temp/Backup/Debug/Build files
*.bak
*.tmp
server/db_check.js
server/test_endpoint.js
FAQ report.pdf
FAQ.txt
FAQ.txt.bak
presentation.md
project-report.html
